<div class="field">
  <% if @game_info.game_platforms == nil %>
<%
# ここ通らないかも
%>
	  <%= select "game_info[game_platform_ids]", "", GamePlatform.all.map { |c| [c.name_en, c.id] }, :include_blank => true %>
  <% else %>
	  <% @game_info.game_platforms.each do |game_platform| %>
		  <%= select "game_info[game_platform_ids]", "", [ [game_platform.name_en, game_platform.id], ["", ""] ] %>
	  <% end %>
	  <%= select "game_info[game_platform_ids]", "", GamePlatform.all.map { |c| [c.name_en, c.id] }, {:include_blank => true}, {:id => "game_platform_add"} %>
  <% end %>
</div>
