// 新規アクション登録フォーム表示
register_new_action = function()
{

}


$("#btn_register_new_controller_manual").hide()

var register_div = $("#register_new_controller_manual_form");
register_div.show();

//register_div.append("<p>新規操作方法登録</p>")

// 指定プラットフォームの各ボタン操作選択用のselectタグ配置
<% game_key_types = GameKeyType.where(:game_platform_id => @game_platform_id) %>
<% game_actions = GameAction.all() %>

register_div.append("<table id='register_new_controller_table'></table>")
var table_tag = $("#register_new_controller_table");

table_tag.append("<tr><th>ボタン名</th><th>操作</th></tr>");
<% game_key_types.each do |key_type| %>

   var line = $("<tr></tr>");
   line.append("<th><%= key_type.sign %></th>");

   // selectタグの内容全部一緒なのでeachで回す必要ないかも
   var select_tag = $("<select></select>", {
   	   			  	name: "game_info[game_platform_ids][]",
					id: "game_key_select"
   	   			  	});

   select_tag.append("<option value=\"\"></option>");

   <% game_actions.each do |game_action| %>
   	  select_tag.append( $("<option></option>", { value: "<%= game_action.id %>", html: "<%= game_action.name_jp %>" }) );
   <% end %>
   line.append( $("<th></th>").append(select_tag) );

   table_tag.append(line);
<% end %>
